# Add environment variables here
GEMINI_API_KEY=
VITE_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=

# Automated Email Dispatch (kobbilabs@gmail.com)
SMTP_USER=kobbilabs@gmail.com
SMTP_PASS=
GMAIL_APP_PASSWORD=
