# Add environment variables here
GEMINI_API_KEY=
VITE_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=

# Automated Email Dispatch (jaytechsolutions.net@gmail.com)
SMTP_USER=jaytechsolutions.net@gmail.com
SMTP_PASS=
GMAIL_APP_PASSWORD=
